#close { position: absolute; top: 3px; right: 10px;}


.panel { margin-top: 100px;}
.form-group { width: 100%; display: block;}
.form-control { margin: 5px 0;}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group { margin-top: 5px;}
label.control-label { margin-top: 10px; margin-bottom: 10px; }
button.close_message { padding: 7px; background-color: #000000;}
.alert_contain{text-align:center;}
.del_btn {
    background-color: transparent;
    background-image: url('../images/DeleteRed.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}
#home-slider .carousel-caption { right: 7%;}
.carousel-caption h1 { display: inline-block;}
#home-slider .carousel-caption a { top: 108px;}
.input-group { width: 100%;}
.date-picker { width:90%;}
.ui-widget-header {
    background: #ffe41c;
    color: #000000;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #ffe41c;
    color: #000000;
}
button.ui-datepicker-trigger {
    background: #FFF;
    color: #333;
    padding: 6px 12px;
    position: absolute;
    right: 10px;
    top: 5px;
    border: 1px solid #ccc;
}
button.ui-datepicker-trigger:hover {
    background: #ffe41c;
    color: #000000;
}
button.ui-datepicker-trigger i.fa.icon-calendar {
    color: #000000;
}